@font-face {font-family: 'Pretendard';font-weight: 900;font-display: swap;
    src: local('Pretendard Black'), url('Pretendard/Pretendard-Black.woff2') format('woff2'), url('Pretendard/Pretendard-Black.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 800;font-display: swap;
    src: local('Pretendard ExtraBold'), url('Pretendard/Pretendard-Black.woff2') format('woff2'), url('Pretendard/Pretendard-ExtraBold.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 700;font-display: swap;
    src: local('Pretendard Bold'), url('Pretendard/Pretendard-Bold.woff2') format('woff2'), url('Pretendard/Pretendard-Bold.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 600;font-display: swap;
    src: local('Pretendard SemiBold'), url('Pretendard/Pretendard-SemiBold.woff2') format('woff2'), url('Pretendard/Pretendard-SemiBold.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 500;font-display: swap;
    src: local('Pretendard Medium'), url('Pretendard/Pretendard-Medium.woff2') format('woff2'), url('Pretendard/Pretendard-Medium.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 400;font-display: swap;
    src: local('Pretendard Regular'), url('Pretendard/Pretendard-Regular.woff2') format('woff2'), url('Pretendard/Pretendard-Regular.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 300;font-display: swap;
    src: local('Pretendard Light'), url('Pretendard/Pretendard-Light.woff2') format('woff2'), url('Pretendard/Pretendard-Light.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 200;font-display: swap;
    src: local('Pretendard ExtraLight'), url('Pretendard/Pretendard-ExtraLight.woff2') format('woff2'), url('Pretendard/Pretendard-ExtraLight.woff') format('woff');}
    @font-face {font-family: 'Pretendard';font-weight: 100;font-display: swap;
    src: local('Pretendard Thin'), url('Pretendard/Pretendard-Thin.woff2') format('woff2'), url('Pretendard/Pretendard-Thin.woff') format('woff');}
    
    @font-face {font-family: 'GmarketSans';font-weight: 600;font-display: swap;
    src: url('GmarketSans/GmarketSansBold.woff') format('woff');}
    @font-face {font-family: 'GmarketSans';font-weight: 500;font-display: swap;
    src: url('GmarketSans/GmarketSansMedium.woff') format('woff');}
    @font-face {font-family: 'GmarketSans';font-weight: 300;font-display: swap;
    src: url('GmarketSans/GmarketSansLight.woff') format('woff');}
    
    @font-face {font-family: 'Poppins';font-weight: 100;font-display: swap;
    src: local('Poppins Thin'), local('Poppins-Thin'),url('Poppins/Poppins-Thin.woff2') format('woff2'),url('Poppins/Poppins-Thin.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 200;font-display: swap;
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),url('Poppins/Poppins-ExtraLight.woff2') format('woff2'),url('Poppins/Poppins-ExtraLight.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 300;font-display: swap;
    src: local('Poppins Light'), local('Poppins-Light'),url('Poppins/Poppins-Light.woff2') format('woff2'),url('Poppins/Poppins-Light.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 400;font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'),url('Poppins/Poppins-Regular.woff2') format('woff2'),url('Poppins/Poppins-Regular.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 500;font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'),url('Poppins/Poppins-Medium.woff2') format('woff2'),url('Poppins/Poppins-Medium.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 600;font-display: swap;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),url('Poppins/Poppins-SemiBold.woff2') format('woff2'),url('Poppins/Poppins-SemiBold.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 700;font-display: swap;
    src: local('Poppins Bold'), local('Poppins-Bold'),url('Poppins/Poppins-Bold.woff2') format('woff2'),url('Poppins/Poppins-Bold.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 800;font-display: swap;
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),url('Poppins/Poppins-ExtraBold.woff2') format('woff2'),url('Poppins/Poppins-ExtraBold.woff') format('woff');}
    @font-face {font-family: 'Poppins';font-weight: 900;font-display: swap;
    src: local('Poppins Black'), local('Poppins-Black'),url('Poppins/Poppins-Black.woff2') format('woff2'),url('Poppins/Poppins-Black.woff') format('woff');}